<h1><%= @post.title %></h1>
  <img src="<%= @post.image_url %>" alt="<%= @post.title %>" height="200" width="200"><br>

  <strong>Created At: <%=  @post.created_at %></strong>
  <p><%= @post.description %></p>
  <p>By: <%= @post.user.name %></p>